@charset 'utf-8';

/* ------------ 비전 ------------ */

.vision {
  box-shadow: 0px 0px 30px var(--main-color20);
  padding: 6rem 0 14.2rem 0;
}

.vison-title {
  margin-top: var(--margin-l);
  text-align: center;
  position: relative;
}

.visual-sub-title {
  color: var(--main-color);
}

.vison-title h4 {
  font: 8.2rem/1.1 "Poppins", sans-serif;
  font-size: clamp(4.5rem, 6vw, 8.2rem); /* 여기도 어떻게 할지 정해! */
  font-weight: 600;
  color: var(--main-color);
}

.vison-title p {
  margin: var(--margin-s) auto 0 auto;
  width: 50%;
  word-break: keep-all;
}

@media (max-width: 768px) {
  .vison-title p {
    width: 80%;
  }
}

/* ------------ 목록02 ------------ */

.check {
  margin-top: var(--margin-xl);
}

.check-list {
  margin: var(--margin-l) 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-shrink: 0;
  overflow-x: auto;
}

.check-list li {
  width: 36.9rem;
  min-width: 33.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: no-repeat 50% / cover;
  position: relative;
  cursor: pointer;
  word-break: keep-all;
  box-shadow: 0px 0px 30px rgba(200, 0, 47, 0.25);
}

.check-list li:nth-child(1) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s1.png);
}
.check-list li:nth-child(2) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s2.png);
}
.check-list li:nth-child(3) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s3.png);
}
.check-list li:nth-child(4) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_img_21.png);
}

.check-list li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--trans-speed-nomal);
  background: var(--black10);
}

.check-list li:hover::after {
  content: "";
  background: var(--main-color);
}

.check-list li dl {
  position: relative;
  z-index: 1;
}

.check-list li dt {
  font-size: var(--font-xl);
  font-weight: 700;
  color: var(--white100);
  transition: var(--trans-speed-nomal);
  transform: translateY(110%);
}

.check-list li:hover dt {
  color: var(--white100);
  transform: translateY(0);
}

.check-list li dd {
  margin-top: var(--margin-s);
  transform: translateY(350%);
  color: var(--white70);
  transition: var(--trans-speed-nomal);
}

.check-list li:hover dd {
  transform: translateY(0);
}

@media (max-width: 1800px) {
  .check-list {
    justify-content: flex-start;
  }
}

/* ------------ 목록01 - 1 ------------ */

.list {
  margin-top: var(--margin-xl);
}

.list-item {
  margin-top: var(--margin-s);
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.list-item li {
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--main-color10);
  border-radius: 10px;
  padding: 3.4rem 3rem;
  word-break: keep-all;
}

.list-item li strong {
  font-weight: 600;
  color: var(--main-color);
}

.list-item figure {
  max-width: 9.3rem;
  min-width: 9.3rem;
  width: 9.3rem;
  aspect-ratio: 1/1;
  background: var(--white100);
  border-radius: 50%;
  overflow: hidden;
}

.list-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-txt p {
  font-size: var(--font-s);
}

@media (max-width: 425px) {
  .list-item li {
    flex-direction: column;
  }

  .list-txt {
    text-align: center;
  }
}

/* ------------ CTA ------------ */

.point {
  margin-top: var(--margin-xl);
  position: relative;
}

.point-con {
  display: flex;
  justify-content: space-between;
}

.point-con p {
  margin-top: var(--margin-s);
}

.point-con a {
  margin-top: var(--margin-l);
  background: var(--main-color);
  color: var(--white100);
}

.point-con a:hover {
  color: var(--main-color);
}

.point-con a::after {
  background-image: url(../img/store-ico1.png);
}

.point-con a:hover::after {
  background-image: url(../img/store-ico1-m.png);
}

.point-con .btn-more {
  margin-bottom: var(--margin-m);
}

.point-con .btn-more-item {
  background: var(--white100);
}

.point-pic {
  width: 30.2083vw;
  min-width: 34.5rem;
  aspect-ratio: 1/0.931;
  overflow: hidden;
}

.point-pic img {
  object-fit: contain;
}

footer {
  /*  footer와 point-pic의 간격 조정을 위해 footer의 마진을 0으로 재부여 */
  margin-top: 0;
}

@media (max-width: 1024px) {
  .point-pic {
    display: none;
  }
}
