@charset 'utf-8';

/* ------------비전02------------ */

.vision {
  box-shadow: 0px 0px 30px var(--main-color20);
  padding: 5.8rem 0 14.2rem 0;
}

.vison-title {
  margin-top: 9rem;
  text-align: center;
  position: relative;
}

.vison-title::before,
.vison-title::after {
  content: "";
  width: 24.6rem;
  height: 15rem;
  position: absolute;
  background: url(../img/decoration-pic1.svg) no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.vison-title::before {
  left: 0;
}

.vison-title::after {
  right: 0;
  transform: translateY(-50%) scaleX(-1);
}

.vison-title p:nth-child(1) {
  color: var(--main-color);
}

.vison-title h4 {
  font: 8.2rem/1.1 "Poppins", sans-serif;
  font-size: clamp(4.5rem, 6vw, 8.2rem); /* 여기도 어떻게 할지 정해! */
  font-weight: 600;
  color: var(--main-color);
}

.vison-title p {
  margin: 3rem auto 0 auto;
  width: 50%;
  word-break: keep-all;
}

@media (max-width: 768px) {
  .vison-title::before,
  .vison-title::after {
    display: none;
  }

  .vison-title p {
    width: 80%;
  }
}

/* ------------250312 / 4개 / 부가설명 o------------ */

.check {
  margin-top: var(--margin-large);
}

.check-list {
  margin: 6rem 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  justify-content: flex-start;
  flex-shrink: 0;
  overflow-x: auto;
}

.check-list li {
  width: 36.9rem;
  min-width: 33.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: no-repeat 50% / cover;
  position: relative;
  cursor: pointer;
  word-break: keep-all;
  box-shadow: 0px 0px 30px rgba(200, 0, 47, 0.25);
}

.check-list li:nth-child(1) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s1.png);
}
.check-list li:nth-child(2) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s2.png);
}
.check-list li:nth-child(3) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_s3.png);
}
.check-list li:nth-child(4) {
  background-image: url(https://themedicube.co.kr/web/upload/event/ebottle_img_21.png);
}

.check-list li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background: var(--black10);
}

.check-list li:hover::after {
  content: "";
  background: var(--main-color);
}

.check-list li dl {
  position: relative;
  z-index: 1;
}

.check-list li dt {
  font-size: var(--fz-xl);
  font-weight: 700;
  color: var(--white100);
  transform: translateY(110%);
  transition: var(--second-basic);
}

.check-list li:hover dt {
  color: var(--white100);
  transform: translateY(0);
}

.check-list li dd {
  margin-top: 2.3rem;
  transform: translateY(350%);
  color: var(--white70);
  transition: var(--second-basic);
}

.check-list li:hover dd {
  transform: translateY(0);
}

@media (max-width: 1200px) {
  .check-list {
    gap: 5rem;
  }
}

/* ------------리스트01 -1------------ */

.list {
  margin-top: var(--margin-large);
}

.list-item {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.list-item li {
  width: 100%;
  gap: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--main-color10);
  border-radius: 10px;
  padding: 3.4rem 3rem;
  word-break: keep-all;
}

.list-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item li strong {
  font-weight: 600;
  color: var(--main-color);
}

.list-txt p {
  font-size: var(--fz-s);
}

.list-item figure {
  max-width: 9.3rem;
  min-width: 9.3rem;
  width: 9.3rem;
  aspect-ratio: 1/1;
  background: var(--white100);
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 425px) {
  .list-item li {
    flex-direction: column;
  }

  .list-txt {
    text-align: center;
  }
}

/* ------------리스트01 -1------------ */

.point {
  margin-top: var(--margin-large);
  position: relative;
}

.point-con {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.point-pic {
  width: 30.2083vw;
  min-width: 34.5rem;
  aspect-ratio: 1/0.931;
  overflow: hidden;
}

.point-con {
  display: flex;
  margin-top: 6rem;
  gap: 2rem;
}

.point-con .btn-more-item {
  background: var(--white100);
}

.point-con a {
  background: var(--main-color);
  color: var(--white100);
}

.point-con a:hover {
  color: var(--main-color);
}

.point-con a::after {
  background-image: url(../img/store-ico1.png);
}

.point-con a:hover::after {
  background-image: url(../img/store-ico1-m.png);
}

footer {
  /*  footer와 point-pic의 간격 조정을 위해 footer의 마진을 0으로 재부여 */
  margin-top: 0;
}

@media (max-width: 880px) {
  .point {
    margin: var(--margin-large) 0;
  }

  .point-pic {
    display: none;
  }
}

@media (max-width: 768px) {
  .list-txt br {
    display: none;
  }
}
