@charset 'utf-8';

/* ------------ header ------------ */
header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: var(--white100);
}

header::after {
  content: "";
  position: absolute;
  top: -33.4rem;
  left: 0;
  width: 100%;
  height: 40rem;
  transition: var(--trans-speed-fast);
  background: var(--white100);

  z-index: 2;
}

header.active::after {
  top: 0;
}

nav {
  max-width: 100vw;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.logo a {
  display: block;
  width: var(--size-logo-width);
  height: var(--size-logo-height);
  background: url(../img/logo.svg) no-repeat 0 0 / contain;
}

.gnb {
  display: flex;
  gap: var(--gap-xs);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-header-footer);
  color: var(--title-color);
}

.gnb > li {
  position: relative;
}

.gnb > li a {
  display: block;
  padding: 0.6rem 2.6vw;
  color: var(--title-color);
}

.gnb > li::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 0.3rem;
  background: var(--main-color);
  opacity: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: var(--trans-speed-nomal);
}

.gnb > li:hover::after {
  width: 70%;
  opacity: 1;
  transition: var(--trans-speed-nomal);
}

.submenu {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  padding-top: 3.3rem;
}

.submenu li a {
  font-size: var(--font-header-footer);
  font-weight: var(--font-weight-medium);
  word-break: keep-all;
  display: block;
  padding: 1.2rem 0;
  text-align: center;
  color: var(--text-color);
}

.submenu li a:hover {
  color: var(--main-color);
}

.util-menu {
  display: flex;
  flex-direction: row;
  gap: var(--gap-m);
}

.util-con {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background: no-repeat 50% / cover;
}

.btn-menu {
  width: 5rem;
  aspect-ratio: 1/1;
  background: transparent;
  display: none;
}

.menu-bar span,
.close-bar span {
  display: block;
  background: var(--title-color);
  margin: auto;
  width: 3rem;
  height: 0.3rem;
  transition: var(--trans-speed-fast);
}

.menu-bar .bar2 {
  margin-top: var(--margin-xxs);
}
.menu-bar .bar3 {
  margin-top: var(--margin-xxs);
}

.btn-menu:hover .bar1 {
  transform: translateY(1.3rem);
}
.btn-menu:hover .bar2 {
  transform: rotate(90deg);
}
.btn-menu:hover .bar3 {
  transform: translateY(-1.3rem);
}

.close-bar .bar1 {
  transform: rotate(45deg) translate(0.6rem, 0.4rem);
}
.close-bar .bar2 {
  margin-top: var(--margin-xxs);
  transform: rotate(-45deg) translate(0.5rem, -0.3rem);
}

.sns-ico-list {
  display: flex;
  gap: var(--gap-s);
}

.btn-ico-sns {
  width: var(--size-ico-sns);
  height: var(--size-ico-sns);
  cursor: pointer;
  background: transparent;
}

.btn-ico-sns svg path {
  fill: var(--main-color);
}

/* ------------ mobile-header ------------ */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background: var(--white100);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  padding: 6rem 3rem;
  transition: var(--trans-speed-nomal) ease;
  z-index: 100;
  opacity: 0;
}

.mobile-menu.on {
  right: 0;
  opacity: 1;
}

.btn-close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  background: url(../img/ico-close.svg) no-repeat center / 100%;
}

.mobile-gnb {
  margin-top: var(--margin-s);
}

.mobile-gnb > li > a {
  display: block;
  padding: 1.5rem 0;
  color: var(--title-color);
}

.mobile-submenu {
  display: none;
  padding: 1rem 0 1rem 2rem;
}

.mobile-submenu li a {
  display: block;
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  padding: 1rem 0;
}

.mobile-submenu li a:hover {
  color: var(--main-color);
}

@media (max-width: 1024px) {
  nav {
    margin: 0;
  }

  .util-menu .sns-ico-list {
    display: none;
  }

  .gnb {
    display: none;
  }

  .btn-menu {
    display: block;
  }

  .mobile-menu .sns-ico-list {
    margin-top: var(--margin-s);
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    width: 100%;
  }
}

/* ------------ footer ------------ */
footer {
  overflow: hidden;
  margin-top: var(--margin-xl);
}

.foot-list {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  position: relative;
  background: var(--white100);
}

.foot-list::before {
  content: "";
  position: absolute;
  transform: translateX(-6%);
  top: 0;
  width: 122vw;
  height: 1px;
  background: var(--black10);
}

.foot-list::after {
  content: "";
  position: absolute;
  transform: translateX(-6%);
  bottom: 0;
  width: 122vw;
  height: 1px;
  background: var(--black10);
}

.foot-info {
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}

.foot-info a {
  font-size: var(--font-header-footer);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

.foot-con {
  padding: 7rem 0 9rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-con address p {
  font-size: var(--font-header-footer);
  color: var(--text-color);
  margin-top: var(--margin-s);
  word-break: keep-all;
}

.foot-con address p + p {
  margin-top: var(--margin-xxs);
}

.accredit figure {
  width: var(--size-logo-width);
  height: var(--size-logo-height);
}

.accredit figure img {
  object-fit: contain;
}

@media (max-width: 1800px) {
  .foot-list::before,
  .foot-list::after {
    transform: translateX(-9%);
  }
}

@media (max-width: 1440px) {
  .foot-list {
    flex-direction: column;
  }

  .accredit {
    margin-top: var(--margin-m);
  }
}

@media (max-width: 1024px) {
  .foot-info {
    flex-direction: column;
    gap: var(--gap-s);
  }

  .foot-con {
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 3rem 7rem 3rem;
  }
}
