@charset 'utf-8';

/* ------------sns------------ */

.sns {
  margin: 12rem 0;
}

.sns .sns-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 2rem;
}

.sns-item {
  width: 49%;
  margin-top: 3.125vw;
}

.sns-item figure {
  width: 100%;
  aspect-ratio: 1/0.3094;
  /* height: 30.7rem; */
  border-radius: 10px;
  overflow: hidden;
}

.sns-item:hover figure img {
  transform: scale(110%);
}

.sns-txt p {
  margin-top: 1.0417vw;
  font-weight: 700;
  color: var(--title-color);
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}

@media (max-width: 1228px) {
  .sns-item {
    width: 100%;
    text-align: center;
  }
}
