@charset 'utf-8';

/* ------------ 소식 목록 ------------ */

.sns {
  margin-top: var(--margin-xl);
}

.sns-list {
  margin-top: var(--margin-xs);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.sns-item {
  width: 49%;
  margin-top: 3.125vw; /* var(--margin-l) */
}

.sns-item figure {
  width: 100%;
  aspect-ratio: 1/0.3094;
  border-radius: 10px;
  overflow: hidden;
}

.sns-item:hover figure img {
  transform: scale(110%);
}

.sns-txt p {
  margin-top: var(--margin-xs);
  /* font-size: var(--font-m); */
  font-size: clamp(1.6rem, 3.5vw, 2rem);
  font-weight: 700;
  color: var(--title-color);
}

@media (max-width: 1228px) {
  .sns-item {
    width: 70%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .sns-item {
    width: 100%;
  }
}
