@charset 'utf-8';

/* ------------ 소식 목록 ------------ */

.sns {
  margin-top: var(--margin-large);
}

.sns-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.sns-item {
  width: 49%;
  margin-top: 3.125vw;
}

.sns-item figure {
  width: 100%;
  aspect-ratio: 1/0.3094;
  border-radius: 10px;
  overflow: hidden;
}

.sns-item:hover figure img {
  transform: scale(110%);
}

.sns-txt p {
  margin-top: 1.0417vw;
  font-weight: 700;
  font-size: var(--fz-m);
  color: var(--title-color);
}

@media (max-width: 1228px) {
  .sns-item {
    width: 100%;
    text-align: center;
  }
}
