@charset 'utf-8';

/* ------------슬라이드01 (세로형)------------ */

.slider-products-wrap {
  padding-top: 12rem;
  display: flex;
  gap: 2rem;
  /* border: 1px solid #000; */
}

.products-card {
  position: relative;
  width: 42.7rem;
  /* width: 22.2396vw; */
  aspect-ratio: 1/4.2272;
  border-radius: 10px;
  overflow: hidden;
  /* margin: 0 1rem; */
  margin-right: 2rem;
  word-break: keep-all;
}

.products-txt-slider {
  flex: 1 0 48%;
}

.products-con-slider-wrap {
  flex: 1 0 48%;
}

.products-text-card {
  background: #fff;
  padding-right: 2rem;
}

.products-text-card strong {
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-color);
  margin-top: 2rem;
}

.products-text-card h3 {
  font: 9rem/1.1 "pretendard", sans-serif;
  font-size: clamp(5rem, 5vw, 9rem);
  font-weight: 700;
  color: var(--title-color);
  word-break: keep-all;
  margin-top: 2.8rem;
}

.products-text-card p {
  width: 30vw;
  margin-top: 1.5rem;
  word-break: keep-all;
}

.products-text-card .btn-more {
  margin-top: 6rem;
}

.products-con-slider {
  width: 50vw;
  height: 52.4rem;
}

.products-card figure {
  width: 100%;
  height: 100%;
}

.products-card .products-name {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10.2rem;
  background: var(--main-color70);
  color: var(--white100);
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
}

.products-card:hover .products-name {
  opacity: 1;
}

.products-card:hover::before {
  opacity: 0;
}

@media (max-width: 1024px) {
  .slider-products-wrap {
    flex-wrap: wrap;
  }

  .products-con-slider {
    height: 51.1719vw;
  }

  .products-text-card {
    text-align: center;
  }

  .products-text-card p {
    width: 80%;
    margin: 0.7rem auto 0 auto;
  }

  .products-text-card .btn-more {
    margin: 2rem auto 0 auto;
  }

  .products-card {
    width: 95%;
  }

  .products-con-slider-wrap {
    width: 100%;
  }

  .products-con-slider {
    width: 100%;
  }
}

/* ------------슬라이드02 (탭x - 정사각형-5)------------ */

.preview {
  /* margin-top: 8.0208vw; */
  margin: 15.4rem 0 6.25vw 0;
}

.preview-list {
  margin-top: 2.0833vw;
  padding: 0 2rem;
}

.preview-swiper figure {
  margin-top: 2.6rem;
  width: 100%;
  aspect-ratio: 1/1.09259;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 6px 11px rgba(0, 0, 0, 0.25);
}

.preview-swiper figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color70);
  transition: 0.4s;
  opacity: 0;
}

.preview-swiper figure:hover::after {
  opacity: 1;
}

/* ------------슬라이드03 (정사각형 - 6)------------ */

.review {
  margin: 12rem 0;
}

.review-slider-wrap {
  width: 100%;
}

.review-slider {
  width: 100%;
}

.review .swiper-wrapper {
  width: 100%;
}

.review-slider {
  margin-top: 4rem;
}

.review-item {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.review-item::after {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color70);
  opacity: 0;
}

.review-item:hover::after {
  opacity: 1;
}

.review-item strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: var(--white100);
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  /* font-size: 3rem; */
  font-size: clamp(2.4rem, 14.7783%, 3rem);
  font-weight: 700;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;
}

.review-item i {
  font-size: 1.8rem;
  font-size: clamp(1.5rem, 8.867%, 1.8rem);
  font-weight: 400;
}

.review-item:hover strong {
  opacity: 1;
}

.review-slider-wrap .swiper-pagination {
  position: relative;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
}
