@charset 'utf-8';

/* ------------ 목록01 - 4 ------------ */
.list-item li {
  width: 100%;
  gap: var(--gap-m);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  border-radius: var(--card-radius);
  word-break: keep-all;
}

@media (max-width: 1440px) {
  .list-item {
    flex-direction: column;
  }
}
