@charset 'utf-8';

/* ------------ 제품 목록 ------------ */
.products-title {
  margin: 0 auto;
  text-align: center;
  margin-top: var(--margin-xl);
  word-break: keep-all;
}

.products-title h3 {
  font: var(--font-sec-title) / 0.8 "Poppins", sans-serif;
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25.5rem, 1fr));
  gap: var(--gap-l) var(--gap-s);
  margin-top: var(--margin-l);
  justify-items: center;
  padding: 0 6.5rem;
}

.products-list li figure {
  width: 100%;
  height: 29rem;
  margin-bottom: var(--margin-xs);
  border-radius: var(--card-radius);
  overflow: hidden;
}

.products-list li:hover figure img {
  transform: var(--scale-img);
}

.products-list li p {
  padding: 0 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  word-break: keep-all;
  text-align: center;
}

.products-list .products-tag {
  display: flex;
  justify-content: center;
}

.products-list .products-tag p {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-m);
  color: var(--main-color);
}

@media (max-width: 1440px) {
  .products-list {
    padding: 0;
  }
}
