@charset 'utf-8';

/* ------------cursor------------ */
.products-con-slider,
.preview-list,
.preview-swiper figure {
  cursor: url("../../img/cursor.svg") 2 2, auto;
}

/* ------------ 슬라이드01 - 이미지(세로형) ------------ */
.products {
  overflow: hidden;
}

.slider-products-wrap {
  margin-top: var(--margin-xl);
  display: flex;
  gap: var(--gap-m);
}

.products-txt-slider {
  flex: 1 0 48%;
}

.products-con-slider-wrap {
  flex: 1 0 58%;
  width: 100%;
  overflow: hidden;
}

.products-con-slider {
  width: 100%;
  height: auto;
  overflow: visible;
}

.products-text-card {
  background: var(--white100);
  padding-right: 2rem;
}

.products-text-card strong {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-l);
  color: var(--main-color);
  margin-top: var(--margin-xs);
}

.products-text-card h3 {
  font-size: clamp(4rem, 5.5vw, 9rem);
  line-height: 1.1;
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  word-break: keep-all;
  margin-top: var(--margin-s);
}

.products-text-card p {
  width: 30vw;
  margin-top: var(--margin-xs);
  word-break: keep-all;
}

.products-text-card .btn-more {
  margin-top: var(--margin-l);
}

.products-card {
  position: relative;
  width: 100%;
  max-width: 42.7rem;
  aspect-ratio: 1/1.2272;
  border-radius: var(--card-radius);
  overflow: hidden;
  word-break: keep-all;
}

.products-card figure {
  width: 100%;
  height: 100%;
}

.products-card .products-name {
  opacity: 0;
  transition: var(--trans-speed-nomal);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10.2rem;
  background: var(--main-color70);
  color: var(--white100);
  font-weight: var(--font-weight-semibold);
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
}

.products-card:hover .products-name {
  opacity: 1;
}

@media (max-width: 1024px) {
  .slider-products-wrap {
    flex-wrap: wrap;
  }

  .products-txt-slider,
  .products-con-slider-wrap {
    flex: 1 0 100%;
  }

  .products-text-card {
    text-align: center;
    padding: 0;
  }

  .products-text-card p {
    width: 100%;
    margin: var(--margin-xs) auto 0 auto;
  }

  .products-text-card .btn-more {
    margin: var(--margin-xs) auto 0 auto;
  }

  .products-con-slider {
    width: 100%;
    height: auto;
  }

  .products-card {
    max-width: 38rem;
  }
}

/* ------------ 슬라이드02 - 이미지(정사각형) ------------ */
.preview {
  margin-top: var(--margin-xl);
}

.preview-list {
  margin-top: var(--margin-l); /* 3.125vw */
}

.preview-swiper {
  padding: 2rem 1.5rem;
}

.preview-swiper figure {
  width: 100%;
  aspect-ratio: 1/1.09259;
  border-radius: var(--card-radius);
  overflow: hidden;
  position: relative;
  box-shadow: 5px 6px 11px rgba(0, 0, 0, 0.25);
}

.preview-swiper figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color70);
  transition: var(--trans-speed-nomal);
  opacity: 0;
}

.preview-swiper figure:hover::after {
  opacity: 1;
}

/* ------------ 슬라이드03 - 이미지(정사각형) ------------ */
.review {
  margin-top: var(--margin-xl);
}

.review-slider {
  margin-top: var(--margin-l);
}

.review-item {
  flex-shrink: 0;
  border-radius: var(--card-radius);
  overflow: hidden;
  position: relative;
}

.review-item::after {
  transition: var(--trans-speed-nomal);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color70);
  opacity: 0;
}

.review-item:hover::after {
  opacity: 1;
}

.review-item strong {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -40%);
  transition: var(--trans-speed-nomal);
  font-size: var(--font-m);
  line-height: 1.2;
  text-align: center;
  word-break: keep-all;
  padding: 0 1.3rem;
  z-index: 1;
  opacity: 0;
  color: var(--white100);
}

.review-item:hover strong {
  opacity: 1;
}

.review-item strong b {
  font-weight: var(--font-weight-semibold);
  color: var(--white70);
  line-height: 1.5;
}

.review-pagination-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin-xs);
}

.review-prev,
.review-next {
  width: 4rem;
  height: 2rem;
  border: none;
  background: url(../../img/arrow-b-right.png) no-repeat 50%;
  cursor: pointer;
}

.review-prev {
  transform: scaleX(-1);
}

.review .swiper-pagination {
  position: relative;
  font-size: var(--font-s);
  width: auto;
  flex-shrink: 0;
  transform: translateY(30%);
}
