@charset 'utf-8';

/* ------------ 제품 목록 - tab ------------ */
.products-tab {
  display: flex;
  gap: var(--gap-m);
  justify-content: center;
  margin-top: var(--margin-l);
  flex-shrink: 0;
  overflow: auto;
}

.products-tab li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.5rem;
  min-width: 9.5rem;
  aspect-ratio: 1/1;
  font-size: var(--font-s);
  font-weight: var(--font-weight-bold);
  color: var(--main-color);
  border-radius: var(--circle-radius);
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.products-tab li.on {
  background: var(--main-color);
  color: var(--white100);
}

.products-tab li:hover {
  background: #f4c6d1;
  transition: var(--trans-speed-nomal);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

@media (max-width: 375px) {
  .products-tab {
    justify-content: flex-start;
  }
}

/* ------------ 질문 목록 - tab ------------ */

.faq-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--font-l);
  font-weight: var(--font-weight-bold);
  gap: var(--gap-m);
  margin-top: var(--margin-l);
  overflow-x: auto;
  user-select: none;
}

.faq-tab li {
  cursor: pointer;
  white-space: nowrap;
}

.faq-tab li:hover {
  color: var(--main-color70);
  transition: var(--trans-speed-nomal);
}

.faq-tab li.on {
  color: var(--main-color);
  transition: var(--trans-speed-nomal);
}
